<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
<!--
  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
 -->
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, :size =>30, :maxlength => 30 %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address, :size =>30, :maxlength => 30 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>